<div class="container">
    <h1>Hello Admin</h1>
    <div class="row">
        <div class="col-md-5 border shadow-lg ">
            <app-accounts-details></app-accounts-details>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 border shadow-lg row" id="dotransaction" [hidden]="HideBox">
            <div class="col-md-1 m-4">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="assets/passbook.png" class="w-70" height="80" />
                </div>
                <div class="card-body">
                    <button class="btn btn-info" (click)="ShowPassbook()">PassBook</button>
                </div>
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-1 m-4">

                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="assets/transaction.png" class="w-70" height="80" />
                </div>
                <div class="card-body">

                    <button class="btn btn-info" (click)="ShowTransaction()">Do Transaction</button>

                </div>
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-1 m-4">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="assets/Customers.jpg" class="w-70" height="80" />
                </div>
                <div class="card-body">
                    <button class="btn btn-info" (click)="ShowCustomers()">Show Customers</button>
                </div>
            </div>

        </div>
        <div class="col-md-6 border shadow-lg p-3 mb-5 bg-white rounded" [hidden]="ShowPassbookPage"
            style="height: 400px;">
            <app-passbook-page></app-passbook-page>
            <button class="btn btn-info" (click)="ShowPassbook()">Back</button>
        </div>
        <div class="col-md-6 border shadow-lg p-3 mb-5 bg-white rounded" [hidden]="ShowTransactionPage"
            style="height: 400px;">
            <app-transaction-page></app-transaction-page>
            <button class="btn btn-info" (click)="ShowTransaction()">Back</button>
        </div>
        <div class="col-md-6 border shadow-lg p-3 mb-5 bg-white rounded" [hidden]="ShowCustomersPage">
            <app-customers-page></app-customers-page>
            <button class="btn btn-info" (click)="ShowCustomers()">Back</button>
        </div>






        <!-- <div class="col-md-6 border" [hidden]="HideBox" style="height: 400px;">
            <button class="btn btn-info" (click)="ShowPassbook()">PassBook</button>
            <button class="btn btn-info" (click)="ShowTransaction()">Do Transaction</button>
            <button class="btn btn-info" (click)="ShowCustomers()">Show Customers</button>
        </div>
        <div class="col-md-6 border" [hidden]="ShowPassbookPage">
            <app-passbook-page></app-passbook-page>
            <button class="btn btn-info" (click)="ShowPassbook()">Back</button>
        </div>
        <div class="col-md-6 border" [hidden]="ShowTransactionPage">
            <app-transaction-page></app-transaction-page>
            <button class="btn btn-info" (click)="ShowTransaction()">Back</button>
        </div>
        <div class="col-md-6 border" [hidden]="ShowCustomersPage">
            <app-customers-page></app-customers-page>
            <button class="btn btn-info" (click)="ShowCustomers()">Back</button>
        </div> -->
    </div>
</div>