<div class="container" style="width: 100%; height: 400px; overflow: auto;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">AccountNumber</th>
            <th scope="col">Balance</th>
            <th scope="col">Status</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customersList">
            <th scope="row">{{customer.name}}</th>
            <td>{{customer.accountNumber}}</td>
            <td>{{customer.balance}}</td>
            <td><button class="btn" [ngClass]="{greenClass: customer.status=='ACTIVE',redClass: customer.status=='DEACTIVE'}" (click)="ModifyAccountStatus(customer)">{{customer.status}}</button></td>
            
          </tr>
        </tbody>
      </table>
</div>