<div class="container">
    <div class="row">
        <div class="col-md-5 border" id="customerinfo">
            <h2>Name : {{loggedInUser.name}}</h2>
            <h2>AccountNumber : {{loggedInUser.accountNumber}}</h2>
            <h2>Balance : &#8377; {{loggedInUser.balance}}</h2>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 border" id="dotransaction" [hidden]="HideBox">
            <button class="btn btn-info" (click)="ShowPassbook()">PassBook</button>
            <button class="btn btn-info" (click)="ShowTransaction()">Do Transaction</button>
        </div>
        <div class="col-md-6 border" id="passbook" [hidden]="ShowPassbookPage">
            <app-passbook-page></app-passbook-page>
            <button class="btn btn-info" (click)="ShowPassbook()">Back</button>
        </div>
        <div class="col-md-6 border" id="showTransaction" [hidden]="ShowTransactionPage">
            <app-transaction-page></app-transaction-page>
            <button class="btn btn-info" (click)="ShowTransaction()">Back</button>
        </div>
    </div>
</div>