<div class="container my-3 ">
    <div class="row">
        <div class="col-md-5 border shadow-lg p-3 mb-5 bg-white rounded">
            <!-- <h2>Name :  {{loggedInUser.name}}</h2>
            <h2>AccountNumber : {{loggedInUser.accountNumber}}</h2>
            <h2>Balance : &#8377; {{[loggedInUser.balance]}}</h2> -->
            <app-accounts-details></app-accounts-details>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-6 border" id="dotransaction" [hidden]="HideBox">
            <button class="btn btn-info" (click)="ShowPassbook()">PassBook</button>
            <button class="btn btn-info" (click)="ShowTransaction()">Do Transaction</button>
        </div>
        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
            <img src="assets/passbook.png" class="w-70" height="80" />
        </div>
        <div class="card-body">

            <button class="btn btn-info" (click)="ShowPassbook()">PassBook</button>

        </div>
    </div>
    <div class="card" style="margin-top: 100px; border: none; margin-left: 20px;">
        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
            <img src="assets/transaction.png" class="w-70" height="80" />
        </div>
        <div class="card-body">

            <button class="btn btn-info" (click)="ShowTransaction()">Do Transaction</button>

        </div>
    </div>



</div>

<!-- </div> -->
<div class="col-md-6 border shadow-lg p-3 mb-5 bg-white rounded" [hidden]="ShowPassbookPage" style="height: 400px;">
    <app-passbook-page></app-passbook-page>
    <button class="btn btn-info" (click)="ShowPassbook()">Back</button>
</div>
<div class="col-md-6 border shadow-lg p-3 mb-5 bg-white rounded" [hidden]="ShowTransactionPage" style="height: 400px;">

    <app-transaction-page></app-transaction-page>
    <button class="btn btn-info" (click)="ShowTransaction()">Back</button>
</div>
<!-- </div> -->
<!-- </div> -->
<div class="container">
    <div class="row">
        <div class="col-md-2 card">
            <i class="fa-solid fa-piggy-bank"></i>
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-2 card"></div>
        <div class="col-md-1"></div>
        <div class="col-md-2 card"></div>
        <div class="col-md-1"></div>
        <div class="col-md-2 card"></div>
    </div>
</div>


<div class="container-fluid m-0 p-0">
    <h4 class="mt-4 mb-5"><strong>Recharge & Pay Bills on AurionPro</strong></h4>
    <div class="row text-center">
        <div class="col-md-3 mb-4">
            <div class="card" style="border:none;">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/smartphone.png" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Recharge Mobile<p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="border:none;">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/gas-bottle.png" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Book Gas Cylinder<p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="border:none;">
                <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                    <img src="assets/light-bulb.png" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Pay Electricity Bill <p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" style="border:none;">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/satellite-dish.png" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Recharge DTH Connection<p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>