.info{
    border-width: 1px;
    border-color:black ;
    border-style: groove;
    text-align: center;
    text-shadow: 2px;
    margin-top: 200px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
   
}
img{
    border-radius: 100%;
}