<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Balance</th>
        <th scope="col">TransactionDate</th>
        <th scope="col">TransactionType</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactionsList">
        <th scope="row">{{transaction.name}}</th>
        <td>{{transaction.balance}}</td>
        <td>{{transaction.transactionDate}}</td>
        <td>{{transaction.transactionType}}</td>
      </tr>
    </tbody>
  </table>